.responsiveVideo {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

a {
  text-decoration: none;
  color: rgb(0, 119, 255);
}

button,
input,
select,
textarea:focus {
  outline: none;
}

.gatsby-highlight {
  margin-right: -2em;
  background-color: #022a4b;
  display: block;
  padding-left: 0.25em;
  border-left: 0.25em solid #ffa7c4;
  margin-bottom: 1em;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
  padding: 0;
  padding-left: 2.8em;
  padding-bottom: 1em;
  width: 100%;
}

.gatsby-highlight pre[class*='language-'] {
  background-color: inherit;
  margin-bottom: 0;
}

.line-numbers .line-numbers-rows {
  height: 100%;
}

.gatsby-highlight pre[class*='language-'] > code {
  white-space: pre-wrap;
}

.gatsby-code-button-container {
  margin-bottom: -1em;
  margin-right: -1.8em;
}

.gatsby-code-button-icon path:last-child {
  fill: #fff;
}

.gatsby-code-button-icon {
  margin-left: 5px;
}

.gatsby-code-button {
  color: #fff;
  font-size: 80%;
  display: flex;
  align-items: center;
}

.gatsby-code-button-toaster-text {
  width: 100%;
  margin-top: 1em;
  margin-left: 1.6em;
  background-color: #022a4b;
  color: #fff;
  opacity: 0.7;
}

#back2Top {
  display: none;
  overflow: hidden;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: transform 1s ease-out;
  transform: scaleY(0);
  transform-origin: top;

  &.visible {
    display: block;
    animation: anim 0.5s ease-in-out;
    transform: scaleY(1);
  }
}

span.image-inline {
  span.gatsby-resp-image-wrapper {
    display: inline-block !important;

    a.gatsby-resp-image-link {
      width: 1em;
      height: auto;
    }
  }
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
